@import url("https://media.istockphoto.com/id/1530809392/photo/light-bulbs-with-project-management-concept.jpg?s=612x612&w=0&k=20&c=T9l3XycFrgG2iZEyXh5nGrZQsIODaQA0nK05NowLnI0=");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Poppins", sans-serif;
  background-color: #e5a673;
  color: black; */
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #1a1a2e;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4a6a;
  border-radius: 10px;
  border: 3px solid #1a1a2e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a8a;
}
